@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    
    background: #0e153a;

}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0 36px;
  max-width: 665px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
 
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color:#22d1ee;
}



.item {
  background-color: #3d5af1;

 
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
}

.item.done {
  background-color: #22d1ee;
  text-decoration: line-through;
}
form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
form > input {
  background-color: #3d5af1;
  color:#22d1ee;
  border: 0;
  padding: 6px 0;
  font-size: 1rem;
  width: 240px;
  outline: 0;

  border:#22d1ee;
  margin-right: 8px;
}

button {
  background-color: #3d5af1;
  border: 1px solid #22d1ee;
  color: #22d1ee;
  font-size: 16px;
  padding: 6px 14px;
}

input::placeholder {
  color: #0e153a;
  opacity: 2;
}

.clear-btn {
  margin-top: 16px;
}
